@import './fonts.scss';

:root {
    overflow: hidden;
}

.section {
    width: 100%;
    padding: 4rem 0;
}

h1 {
    color: var(--gold);
    font-family: 'Old English Text MT';
    font-weight: 400;
}

h2 {
    color: var(--white);
    font-family: 'Old English Text MT';
    font-weight: 400;
}

h3 {
    font-family: 'Old English Text MT';
    font-weight: 400;
}

p {
    font-family: 'Tajawal', sans-serif;
    color: var(--white);
}