@import './fonts.scss';

:root {
    overflow: hidden;
}

.section {
    width: 100%;
    padding: 6rem 2rem;

    @include tablet {
        padding: 6rem 4rem;
    }

    @include desktop {
        padding: 8rem;
    }
}

h1 {
    color: var(--gold);
    font-family: 'Old English Text MT';
    font-weight: 400;
}

h2 {
    color: var(--gold);
    font-family: 'Old English Text MT';
    font-weight: 400;
}

h3 {
    color: var(--white);
    font-family: 'Old English Text MT';
    font-weight: 400;
}

a,
p {
    font-family: 'Tajawal', sans-serif;
    color: var(--white);
}
