@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600&family=Tajawal:wght@300;400;500&display=swap');

@font-face {
    font-family: 'Old English Text MT';
    src: url('/fonts/OldEnglishTextMT.eot');
    src: url('/fonts/OldEnglishTextMT.eot?#iefix') format('embedded-opentype'),
        url('/fonts/OldEnglishTextMT.woff2') format('woff2'),
        url('/fonts/OldEnglishTextMT.woff') format('woff'),
        url('/fonts/OldEnglishTextMT.ttf') format('truetype'),
        url('/fonts/OldEnglishTextMT.svg#OldEnglishTextMT') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

